@model List<Service>
<div class="sevices-w3layouts" id="services">
	<div class="container">
		<h3 class="tittle">Hizmetlerimiz</h3>
		<p class="heading-btm-w3ls">Sizlere 4 farklı hizmet sunmaktayız</p>
		<div class="services-main">
			@foreach(var item in Model) 
			{
			<div class="@item.ServiceClassFirst" data-wow-delay=".5s">
				<h5>@item.ServiceTitle</h5>
				<p>@item.ServiceDescription</p>

				<div class="@item.ServiceClassSec">
					<i class="@item.ServiceImage" aria-hidden="true"></i>
					<p>@item.ServiceTitle</p>
				</div>
			</div>
			}
		<div class="clearfix"> </div>
	</div>
</div>
</div>
